# this is meant to be pulled into a perl program using "do"

# base directory for all the repos
$REPO_BASE="repositories";

# gitosis-lite admin directory, files, etc
$GL_ADMINDIR=$ENV{HOME} . "/.gitosis-lite";

# --------------------------------------

# the ones below can be left as they are, unless for some reason you want them
# elsewhere

$GL_CONF="$GL_ADMINDIR/gitosis-lite.conf";
$GL_KEYDIR="$GL_ADMINDIR/keydir";
$GL_CONF_COMPILED="$GL_ADMINDIR/gitosis-lite.conf-compiled.pm";

# --------------------------------------
# this should be the last line in this file, per perl rules
1;
